# ignore emacs backups
*~

# ignore javadoc
javadoc/**

# Python compiled files
*.pyc

# temporary files
*.swp
*.swo

# Java/Maven
*.class
target
build

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ and Eclipse metadata
.idea
.metadata
.classpath
.project
.settings/**

# Other
.DS_Store
.idea
.gradle
/bin/
